<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.ReviewMapper">

    <resultMap id="ReviewMapper" type="com.tencent.wxcloudrun.model.Review">
        <id property="id" column="id"/>
        <result property="content" column="content" javaType="java.lang.String" />
        <result property="userId" column="user_id" javaType="java.lang.Integer" />
        <result property="bookId" column="book_id" javaType="java.lang.Integer"  />
    </resultMap>

    <select id="findReviewByBookId" resultMap="ReviewMapper" parameterType="com.tencent.wxcloudrun.model.Review">
        SELECT `id`, `content`, `book_id`,`user_id`
        FROM review where book_id = #{bookId} and user_id = #{userId}
    </select>
</mapper>
